BasedOnStyle: Microsoft
PointerAlignment: Left
IndentPPDirectives: AfterHash
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 80
AccessModifierOffset: -2
IndentWidth: 2
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: AllIfsAndElse